build/
build.log
.DS_Store
.Trashes
*.swp
*~.nib
*.lock
!Podfile.lock
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata
.svn/*
*.moved-aside
Breakpoints.xcbkptlist
Pods/
*.xcscmblueprint
*.xccheckout
